name: Push - Create & Tag Protobuf - Go

on:
  push:
    branches:
      - "master"
      - "main"

jobs:
  generate-protobuf-go:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Install Go Runtime
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.x"
          check-latest: false
          cache: true

      - name: Install protoc
        run: |
          PROTOC_VERSION=25.1
          curl -LO "https://github.com/protocolbuffers/protobuf/releases/download/v${PROTOC_VERSION}/protoc-${PROTOC_VERSION}-linux-x86_64.zip"
          unzip protoc-${PROTOC_VERSION}-linux-x86_64.zip -d $HOME/.local
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Generate Go Source
        shell: bash
        run: |
          make pipeline-build

      - name: Commit generated files
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(protobuf-go): Auto-generated by Github Action"
          file_pattern: "protogen/*"

      - name: Bump version and push tag
        id: tag_version
        uses: anothrNick/github-tag-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
          DEFAULT_BUMP: patch
